<div class="list-groups d-flex flex-wrap">
  {% assign certificates = data[1] | sort: 'date' | reverse %}
  {% for content in certificates %}
    <div class="list-group-item flex-fill m-2 p-3 border rounded" style="min-width: 250px; max-width: 300px;">
      <div class="d-flex align-items-center">
        {% if content.icon %}
          <div class="me-2">
            <i class="{{ content.icon }}"></i>
          </div>
        {% endif %}
        <div>
          <a href="{{ content.url | default: '#' }}" class="h5 mb-1">{{ content.name }}</a>
          <div class="text-muted">
            <strong>{{ content.issuer }}</strong> </br>
            {{ content.date }}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
